@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* temporary font, doesn't really match feeling of the game */
* {
  font-family: "Proxima Nova", sans-serif;
}

/* wrapper for the whole page, allows middle section to flex-grow */
#game {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #14141a;
  color: #ddd;
}

/* section at the top for stats + more */
#top {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3c3c3c;
  height: 70px;
}

#top div {
  flex: 1 1 0;
}

/* in the top left corner */
#player-stats {
  display: grid;
  grid-template-areas:
    "hp   ap   level"
    "mana xp   level";
  gap: 10px;
}

#health {
  grid-area: hp;
}

#mana {
  grid-area: mana;
}

#action-points {
  grid-area: ap;
}

#experience {
  grid-area: xp;
}

#player-level {
  padding: 0px 10px;
  grid-area: level;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* set bar (svg) size */
#health,
#mana,
#action-points,
#experience {
  /* border: 2px solid #000; hacky border radius thing to hide scaled svg overflow */
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  height: 25px;
  width: 150px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

/* position the bar label */
#health p,
#mana p,
#action-points p,
#experience p {
  position: absolute;
  top: -13px;
  left: 10px;
}

/* position the values */
#health p:nth-child(odd),
#mana p:nth-child(odd),
#action-points p:nth-child(odd),
#experience p:nth-child(odd) {
  left: 70px;
}

/* scale ui bar images */
#player-stats img {
  position: absolute;
  top: -3px;
  width: 150px;
  height: 30px;
}

/* center the title */
#title {
  display: flex;
  justify-content: center;
}

#chaos-level {
  color: red;
}

/* push top right section to the right */
#top-right {
  display: flex;
  justify-content: end;
}

/* text-box in the middle */
#middle {
  position: relative;
  padding: 10px 100px;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* gradient at top of text box to show that it scrolls */
/* sensitive to changes in #top's height */
/* probably want to disable this when scrolled all the way to the top */
/* likewise, a duplicate one at bottom when not scrolled all the way down */
#middle::after {
  position: fixed;
  content: "";
  height: 100px;
  width: 100%;
  top: 91px;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* space between lines of text in text-box */
#middle p {
  margin: 5px;
}

/* input area at the bottom */
#explore {
  display: flex;
  padding: 20px 60px;
  border-top: 1px solid #3c3c3c;
}

/* the input element in the bottom section */
#action-input {
  width: 100%;
  flex: 1;
  background-color: #1d1f2b;
  border: none;
  caret-color: #ddd;
  border-radius: 10px 0 0 10px;
  padding: 8px 10px;
  color: #ddd;
}

/* border when input is focused, default is big ugly blue box */
#action-input:focus {
  outline: 1px solid #3c3c3c;
}

/* outline button when input is focused */
#action-input:focus-within + #submit-button {
  outline: 1px solid #3c3c3c;
}

#submit-button {
  padding: 10px;
  background-color: #1d1f2b;
  color: #ddd;
  border: none;
  border-radius: 0 10px 10px 0;
}

#submit-button:hover {
  filter: brightness(200%);
  cursor: pointer;
}

#submit-button:active {
  filter: brightness(150%);
}

#combat {
    display: flex;
    padding: 20px 60px;
    border-top: 1px solid #3c3c3c;
}
